In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split

from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier


train = "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/pump_train_for_models%20(1).csv" 
test =  "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/water_table_test.csv"
train = pd.read_csv(train)
test = pd.read_csv(test)

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [0]:
dummy_cols = ['funder', 'installer', 'basin', 'public_meeting', 'scheme_management', 'permit',
              'construction_year', 'management_group', 'payment', 'water_quality',
              'quantity', 'source_class', 'waterpoint_type']

train = pd.get_dummies(train, columns = dummy_cols)

train = train.sample(frac=1).reset_index(drop=True)

In [3]:
test = pd.get_dummies(test, columns = dummy_cols)
test

,id,amount_tsh,days_since_recorded,population,funder_Dhv,funder_Dwsp,funder_Germany Republi,funder_Kkkt,funder_Ministry Of Water,funder_Norad,...,source_class_groundwater,source_class_surface,source_class_unknown,waterpoint_type_cattle trough,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other
0,50785,0.0,302,321,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,51630,0.0,302,300,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,17168,0.0,305,500,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,45559,0.0,315,250,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,49871,500.0,251,60,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,52449,0.0,274,200,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
6,24806,0.0,1007,600,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
7,28965,0.0,312,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
8,36301,30.0,314,40,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
9,54122,0.0,260,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
10,419,5.0,61,75,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
11,45750,0.0,279,500,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
12,653,0.0,418,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
13,14017,0.0,858,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
14,44607,1000.0,1007,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
15,40228,1200.0,183,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16,27714,0.0,1013,900,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
17,28785,200.0,998,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
18,28330,0.0,423,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
19,18532,0.0,304,300,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
20,69961,0.0,266,120,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
21,55083,0.0,1002,30,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
22,8691,0.0,302,1750,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
23,30331,0.0,297,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
24,70970,0.0,422,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
25,61136,200.0,1014,50,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
26,28799,0.0,288,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
27,46825,0.0,968,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
28,44718,0.0,302,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
29,37350,0.0,286,860,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14820,52228,0.0,310,749,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14821,70038,5.0,249,45,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14822,25901,50.0,315,360,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14823,21131,0.0,975,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14824,26580,0.0,958,250,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14825,66059,0.0,304,89,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14826,32944,0.0,405,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14827,13686,0.0,864,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14828,8471,50.0,1017,70,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14829,19620,0.0,334,80,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14830,74162,0.0,259,150,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14831,37994,0.0,403,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14832,71151,0.0,253,260,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
14833,45017,1000.0,1004,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
14834,12592,0.0,982,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14835,58693,0.0,312,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14836,57539,0.0,991,40,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14837,71252,500.0,296,780,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14838,7869,3000.0,998,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
14839,57316,0.0,998,300,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14840,59757,0.0,282,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14841,64579,0.0,403,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14842,57731,600.0,310,230,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
14843,65541,0.0,302,1400,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
14844,68174,0.0,391,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14845,39307,0.0,1013,20,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14846,18990,1000.0,988,2960,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
14847,28749,0.0,274,200,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14848,33492,0.0,288,150,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
14849,68707,0.0,293,40,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [0]:
# Let's split the train set into train and validation sets. Also remove the target.

target = train.status_group
features = train.drop('status_group', axis=1)

X_train, X_val, y_train, y_val = train_test_split(features, target, train_size=0.8)

In [5]:
gbc = GradientBoostingClassifier(n_estimators=100,learning_rate=0.075,max_features=1.0,min_samples_leaf=16,max_depth=14)
gbc
#{'min_samples_leaf': 16, 'n_estimators': 100, 'learning_rate': 0.075, 'max_features': 1.0, 'max_depth': 14}
#Validation accuracy:  0.796043771044

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.075, loss='deviance', max_depth=14,
              max_features=1.0, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=16, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [0]:
gbc_model = gbc.fit(X_train,y_train)

In [7]:
val_acc = gbc_model.score(X_val,y_val)
val_acc

0.7801346801346801

In [8]:
scores = gbc_model.score(X_train,y_train)
scores

0.9002314814814815

In [0]:
from sklearn.externals import joblib
filename = 'gbc_model.sav'

In [10]:
joblib.dump(gbc_model,filename)

['gbc_model.sav']

In [0]:
loaded_model = joblib.load(filename)

In [0]:
y_test=loaded_model.score(X_val,y_val)

In [13]:
y_test

0.7801346801346801

In [14]:
features

,id,amount_tsh,days_since_recorded,population,funder_Dhv,funder_Dwsp,funder_Germany Republi,funder_Kkkt,funder_Ministry Of Water,funder_Norad,...,source_class_groundwater,source_class_surface,source_class_unknown,waterpoint_type_cattle trough,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other
0,55940,0.0,282,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,55161,0.0,296,581,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,30762,0.0,301,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,62414,0.0,261,1500,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,605,3000.0,1001,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,62778,0.0,304,100,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6,64881,0.0,305,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
7,6959,0.0,997,280,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
8,19314,25.0,251,270,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
9,3514,0.0,418,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
10,71682,0.0,310,250,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
11,4474,0.0,853,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
12,46074,0.0,272,178,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
13,17290,0.0,983,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
14,28510,0.0,991,40,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
15,20564,0.0,980,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
16,34431,1000.0,993,50,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
17,56248,0.0,842,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
18,28313,0.0,0,200,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
19,46688,2400.0,982,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
20,61299,0.0,281,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
21,44837,0.0,260,800,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
22,15895,0.0,250,200,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
23,16866,0.0,982,300,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
24,12877,0.0,405,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
25,26318,0.0,334,120,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
26,8837,0.0,295,100,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
27,52851,0.0,298,1500,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
28,51843,0.0,386,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
29,32118,0.0,868,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,64402,0.0,260,350,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59371,43861,50.0,256,200,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59372,6175,30.0,1011,6922,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59373,40754,0.0,967,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59374,27337,0.0,879,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59375,57727,500.0,255,150,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59376,41778,500.0,322,1000,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
59377,72959,0.0,297,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59378,12309,200.0,1009,30,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
59379,5366,0.0,307,44,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59380,44193,6.0,122,15,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59381,42708,1000.0,1003,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
59382,43723,0.0,318,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59383,57638,0.0,307,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59384,22126,0.0,283,70,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59385,43686,2000.0,995,300,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59386,60589,0.0,260,120,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59387,66164,20.0,981,700,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59388,62806,0.0,307,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59389,26562,0.0,992,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59390,41436,0.0,409,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59391,42729,0.0,412,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59392,64704,0.0,265,96,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59393,44422,0.0,861,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
59394,6043,0.0,986,150,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
59395,71113,0.0,388,1200,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
59396,30849,10.0,258,125,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
59397,65929,500.0,244,420,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
59398,66567,0.0,302,150,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
59399,52944,0.0,251,95,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [15]:
pred = loaded_model.predict(X_train)
pred

array(['non functional', 'non functional', 'functional', ...,
       'non functional', 'non functional', 'functional'], dtype=object)

In [16]:
ytrain=y_train.values
ytrain

array(['non functional', 'non functional', 'functional', ...,
       'non functional', 'non functional', 'non functional'], dtype=object)

In [0]:
from sklearn import metrics

In [18]:
metrics.confusion_matrix(ytrain,pred)

array([[25171,    94,   680],
       [ 1023,  2067,   283],
       [ 2591,    70, 15541]])

In [0]:
from sklearn.metrics import classification_report

In [20]:
from sklearn.metrics import classification_report
#target_names = ['functional', 'functional needs repair', 'non functional']
print(classification_report(ytrain, pred))

                         precision    recall  f1-score   support

             functional       0.87      0.97      0.92     25945
functional needs repair       0.93      0.61      0.74      3373
         non functional       0.94      0.85      0.90     18202

            avg / total       0.90      0.90      0.90     47520

In [0]:
final_gbc=loaded_model.fit(features, target)     
predictions = loaded_model.predict(test)

In [26]:
final_filename = 'final_gbc.sav'
joblib.dump(final_gbc,final_filename)

['final_gbc.sav']

In [27]:
final_loaded = joblib.load(final_filename)
final_loaded

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.075, loss='deviance', max_depth=14,
              max_features=1.0, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=16, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [0]:
predictions

In [23]:
importances = gbc_model.feature_importances_
importances

array([2.43107805e-01, 2.97675842e-02, 1.92429460e-01, 9.56419186e-02,
       7.95406059e-04, 3.08807841e-03, 1.07329132e-04, 6.18241529e-04,
       9.10196026e-04, 1.41642765e-03, 5.99454222e-04, 2.54381345e-03,
       7.25873521e-04, 1.53118052e-03, 1.05659320e-03, 2.52596984e-03,
       2.24687008e-03, 7.87381191e-03, 3.67523995e-03, 1.35060249e-02,
       2.07131720e-03, 2.33739799e-03, 1.05095267e-04, 1.60577829e-04,
       1.30922503e-03, 4.32662206e-04, 9.95130053e-04, 1.78727737e-03,
       1.02854361e-03, 8.04151100e-04, 1.30070085e-03, 4.97549835e-04,
       1.13939332e-02, 3.07910400e-03, 1.06700404e-02, 1.76924824e-03,
       7.32657604e-03, 3.85513356e-03, 3.16183359e-03, 6.56724476e-03,
       7.93510452e-03, 5.11988374e-03, 4.18123180e-03, 3.88065968e-03,
       4.35140253e-03, 4.71213664e-03, 5.05658296e-03, 3.10153638e-03,
       1.32414807e-03, 1.74915627e-03, 5.70487715e-04, 4.40322635e-03,
       1.02005946e-02, 5.04527674e-03, 1.68195421e-03, 2.33349224e-03,
       5.60767004e-03, 8.44956845e-03, 9.49670453e-03, 3.82499412e-03,
       1.01643395e-02, 4.66947402e-03, 1.10292763e-03, 4.12281591e-03,
       5.22049481e-03, 6.58594015e-03, 4.17223423e-03, 2.03732401e-03,
       9.75524206e-04, 1.31423674e-03, 6.20037291e-04, 3.91201045e-03,
       1.13528931e-02, 1.47481343e-03, 1.88698026e-03, 6.61075096e-03,
       5.50637960e-03, 2.94743507e-03, 8.24718630e-03, 1.08333048e-03,
       7.55050175e-04, 0.00000000e+00, 8.73482697e-04, 3.62604439e-03,
       1.39566335e-03, 5.09086114e-03, 1.35861853e-03, 3.91867116e-02,
       1.48572377e-02, 1.32003993e-02, 6.00962794e-03, 1.64665103e-03,
       5.41220460e-03, 8.54563398e-03, 5.63244728e-04, 3.60585147e-04,
       1.23691367e-02, 8.40049738e-03, 0.00000000e+00, 1.12219709e-02,
       1.99751746e-03, 2.12759015e-02])

In [24]:
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X_val.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))
    print(X_val.columns[indices[f]],end=',')
    print()

Feature ranking:
1. feature 0 (0.243108)
id,
2. feature 2 (0.192429)
days_since_recorded,
3. feature 3 (0.095642)
population,
4. feature 87 (0.039187)
quantity_dry,
5. feature 1 (0.029768)
amount_tsh,
6. feature 101 (0.021276)
waterpoint_type_other,
7. feature 88 (0.014857)
quantity_enough,
8. feature 19 (0.013506)
funder_other,
9. feature 89 (0.013200)
quantity_insufficient,
10. feature 96 (0.012369)
waterpoint_type_communal standpipe,
11. feature 32 (0.011394)
installer_dwe,
12. feature 72 (0.011353)
payment_never pay,
13. feature 99 (0.011222)
waterpoint_type_hand pump,
14. feature 34 (0.010670)
installer_other,
15. feature 52 (0.010201)
scheme_management_vwc,
16. feature 60 (0.010164)
construction_year_00s,
17. feature 58 (0.009497)
permit_True,
18. feature 93 (0.008546)
source_class_surface,
19. feature 57 (0.008450)
permit_False,
20. feature 97 (0.008400)
waterpoint_type_communal standpipe multiple,
21. feature 78 (0.008247)
payment_unknown,
22. feature 40 (0.007935)
basin_Lake Victoria,
23. feature 17 (0.007874)
funder_gov,
24. feature 36 (0.007327)
basin_Internal,
25. feature 75 (0.006611)
payment_pay monthly,
26. feature 65 (0.006586)
construction_year_90s,
27. feature 39 (0.006567)
basin_Lake Tanganyika,
28. feature 90 (0.006010)
quantity_seasonal,
29. feature 56 (0.005608)
scheme_management_wug,
30. feature 76 (0.005506)
payment_pay per bucket,
31. feature 92 (0.005412)
source_class_groundwater,
32. feature 64 (0.005220)
construction_year_80s,
33. feature 41 (0.005120)
basin_Pangani,
34. feature 85 (0.005091)
water_quality_soft,
35. feature 46 (0.005057)
public_meeting_True,
36. feature 53 (0.005045)
scheme_management_wtr_auth,
37. feature 45 (0.004712)
public_meeting_False,
38. feature 61 (0.004669)
construction_year_10s,
39. feature 51 (0.004403)
scheme_management_other,
40. feature 44 (0.004351)
basin_Wami / Ruvu,
41. feature 42 (0.004181)
basin_Rufiji,
42. feature 66 (0.004172)
construction_year_unknown,
43. feature 63 (0.004123)
construction_year_70s,
44. feature 71 (0.003912)
management_group_user-group,
45. feature 43 (0.003881)
basin_Ruvuma / Southern Coast,
46. feature 37 (0.003855)
basin_Lake Nyasa,
47. feature 59 (0.003825)
permit_Unknown,
48. feature 18 (0.003675)
funder_hesawa,
49. feature 83 (0.003626)
water_quality_salty,
50. feature 38 (0.003162)
basin_Lake Rukwa,
51. feature 47 (0.003102)
public_meeting_Unknown,
52. feature 5 (0.003088)
funder_Dwsp,
53. feature 33 (0.003079)
installer_gov,
54. feature 77 (0.002947)
payment_pay when scheme fails,
55. feature 11 (0.002544)
funder_Tasaf,
56. feature 15 (0.002526)
funder_World Vision,
57. feature 21 (0.002337)
funder_world_bank,
58. feature 55 (0.002333)
scheme_management_wua,
59. feature 16 (0.002247)
funder_danida,
60. feature 20 (0.002071)
funder_rwssp,
61. feature 67 (0.002037)
management_group_commercial,
62. feature 100 (0.001998)
waterpoint_type_improved spring,
63. feature 74 (0.001887)
payment_pay annually,
64. feature 27 (0.001787)
installer_Hesawa,
65. feature 35 (0.001769)
installer_rwe,
66. feature 49 (0.001749)
scheme_management_Parastatal,
67. feature 54 (0.001682)
scheme_management_wtr_brd,
68. feature 91 (0.001647)
quantity_unknown,
69. feature 13 (0.001531)
funder_Unicef,
70. feature 73 (0.001475)
payment_other,
71. feature 9 (0.001416)
funder_Norad,
72. feature 84 (0.001396)
water_quality_salty abandoned,
73. feature 86 (0.001359)
water_quality_unknown,
74. feature 48 (0.001324)
scheme_management_Company,
75. feature 69 (0.001314)
management_group_parastatal,
76. feature 24 (0.001309)
installer_Community,
77. feature 30 (0.001301)
installer_commu,
78. feature 62 (0.001103)
construction_year_60s,
79. feature 79 (0.001083)
water_quality_coloured,
80. feature 14 (0.001057)
funder_Water,
81. feature 28 (0.001029)
installer_KKKT,
82. feature 26 (0.000995)
installer_District Council,
83. feature 68 (0.000976)
management_group_other,
84. feature 8 (0.000910)
funder_Ministry Of Water,
85. feature 82 (0.000873)
water_quality_milky,
86. feature 29 (0.000804)
installer_TCRS,
87. feature 4 (0.000795)
funder_Dhv,
88. feature 80 (0.000755)
water_quality_fluoride,
89. feature 12 (0.000726)
funder_Tcrs,
90. feature 70 (0.000620)
management_group_unknown,
91. feature 7 (0.000618)
funder_Kkkt,
92. feature 10 (0.000599)
funder_Private Individual,
93. feature 50 (0.000570)
scheme_management_Private operator,
94. feature 94 (0.000563)
source_class_unknown,
95. feature 31 (0.000498)
installer_danida,
96. feature 25 (0.000433)
installer_DANID,
97. feature 95 (0.000361)
waterpoint_type_cattle trough,
98. feature 23 (0.000161)
installer_Central government,
99. feature 6 (0.000107)
funder_Germany Republi,
100. feature 22 (0.000105)
installer_CES,
101. feature 98 (0.000000)
waterpoint_type_dam,
102. feature 81 (0.000000)
water_quality_fluoride abandoned,

In [28]:
predictions=pd.DataFrame(predictions)
predictions

                             0
0                   functional
1                   functional
2                   functional
3               non functional
4                   functional
5                   functional
6               non functional
7               non functional
8               non functional
9                   functional
10                  functional
11              non functional
12              non functional
13              non functional
14                  functional
15                  functional
16                  functional
17                  functional
18                  functional
19              non functional
20                  functional
21              non functional
22              non functional
23              non functional
24                  functional
25                  functional
26              non functional
27              non functional
28     functional needs repair
29                  functional
...                        ...
14820               functional
14821               functional
14822           non functional
14823           non functional
14824           non functional
14825               functional
14826               functional
14827               functional
14828               functional
14829               functional
14830           non functional
14831               functional
14832               functional
14833               functional
14834               functional
14835               functional
14836               functional
14837           non functional
14838               functional
14839           non functional
14840               functional
14841               functional
14842  functional needs repair
14843               functional
14844               functional
14845           non functional
14846               functional
14847               functional
14848               functional
14849           non functional

[14850 rows x 1 columns]

In [29]:
pred_id = pd.read_csv('https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/test_set_values.csv', usecols=['id'])
pred_id

          id
0      50785
1      51630
2      17168
3      45559
4      49871
5      52449
6      24806
7      28965
8      36301
9      54122
10       419
11     45750
12       653
13     14017
14     44607
15     40228
16     27714
17     28785
18     28330
19     18532
20     69961
21     55083
22      8691
23     30331
24     70970
25     61136
26     28799
27     46825
28     44718
29     37350
...      ...
14820  52228
14821  70038
14822  25901
14823  21131
14824  26580
14825  66059
14826  32944
14827  13686
14828   8471
14829  19620
14830  74162
14831  37994
14832  71151
14833  45017
14834  12592
14835  58693
14836  57539
14837  71252
14838   7869
14839  57316
14840  59757
14841  64579
14842  57731
14843  65541
14844  68174
14845  39307
14846  18990
14847  28749
14848  33492
14849  68707

[14850 rows x 1 columns]

In [30]:
final=pd.concat([pred_id,predictions],axis=1)
final

          id                        0
0      50785               functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806           non functional
7      28965           non functional
8      36301           non functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017           non functional
14     44607               functional
15     40228               functional
16     27714               functional
17     28785               functional
18     28330               functional
19     18532           non functional
20     69961               functional
21     55083           non functional
22      8691           non functional
23     30331           non functional
24     70970               functional
25     61136               functional
26     28799           non functional
27     46825           non functional
28     44718  functional needs repair
29     37350               functional
...      ...                      ...
14820  52228               functional
14821  70038               functional
14822  25901           non functional
14823  21131           non functional
14824  26580           non functional
14825  66059               functional
14826  32944               functional
14827  13686               functional
14828   8471               functional
14829  19620               functional
14830  74162           non functional
14831  37994               functional
14832  71151               functional
14833  45017               functional
14834  12592               functional
14835  58693               functional
14836  57539               functional
14837  71252           non functional
14838   7869               functional
14839  57316           non functional
14840  59757               functional
14841  64579               functional
14842  57731  functional needs repair
14843  65541               functional
14844  68174               functional
14845  39307           non functional
14846  18990               functional
14847  28749               functional
14848  33492               functional
14849  68707           non functional

[14850 rows x 2 columns]

In [0]:
final.columns=['id','status_group']
final.to_csv('predictions_GBC.csv', index=False)