In [46]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
import warnings
warnings.filterwarnings('ignore')

train = "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/pump_train_for_models%20(1).csv" 
test =  "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/water_table_test.csv"

train = pd.read_csv(train)
test = pd.read_csv(test)

In [2]:
test

,id,amount_tsh,days_since_recorded,funder,installer,basin,population,public_meeting,scheme_management,permit,construction_year,management_group,payment,water_quality,quantity,source_class,waterpoint_type
0,50785,0.0,302,other,other,Internal,321,True,Parastatal,True,10s,parastatal,never pay,soft,seasonal,surface,other
1,51630,0.0,302,gov,dwe,Pangani,300,True,vwc,True,00s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
2,17168,0.0,305,other,other,Internal,500,True,vwc,Unknown,10s,user-group,never pay,soft,insufficient,surface,other
3,45559,0.0,315,other,other,Ruvuma / Southern Coast,250,Unknown,vwc,True,80s,user-group,unknown,soft,dry,groundwater,other
4,49871,500.0,251,other,other,Ruvuma / Southern Coast,60,Unknown,wtr_brd,True,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
5,52449,0.0,274,gov,dwe,Pangani,200,True,vwc,True,90s,user-group,never pay,soft,enough,groundwater,communal standpipe
6,24806,0.0,1007,gov,other,Rufiji,600,True,vwc,True,00s,user-group,never pay,salty,enough,groundwater,hand pump
7,28965,0.0,312,other,other,Ruvuma / Southern Coast,1,True,wtr_brd,True,80s,user-group,never pay,soft,dry,groundwater,communal standpipe multiple
8,36301,30.0,314,Unicef,other,Ruvuma / Southern Coast,40,True,vwc,False,90s,user-group,pay per bucket,soft,insufficient,groundwater,communal standpipe
9,54122,0.0,260,other,other,Pangani,1,True,wtr_brd,True,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
10,419,5.0,61,Germany Republi,CES,Pangani,75,True,wtr_brd,True,00s,user-group,pay per bucket,soft,enough,groundwater,communal standpipe
11,45750,0.0,279,World Vision,other,Pangani,500,True,other,True,00s,user-group,never pay,soft,dry,surface,other
12,653,0.0,418,world_bank,other,Internal,0,True,other,True,unknown,user-group,unknown,soft,dry,groundwater,communal standpipe multiple
13,14017,0.0,858,Ministry Of Water,dwe,Lake Victoria,0,True,vwc,True,unknown,user-group,pay per bucket,soft,enough,groundwater,communal standpipe multiple
14,44607,1000.0,1007,danida,DANID,Rufiji,1,True,vwc,True,80s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
15,40228,1200.0,183,danida,dwe,Ruvuma / Southern Coast,0,True,vwc,True,80s,user-group,pay annually,soft,enough,surface,communal standpipe multiple
16,27714,0.0,1013,other,other,Rufiji,900,True,vwc,False,unknown,user-group,never pay,soft,enough,groundwater,hand pump
17,28785,200.0,998,gov,dwe,Pangani,1,True,vwc,True,70s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
18,28330,0.0,423,other,dwe,Lake Tanganyika,0,True,Parastatal,True,unknown,parastatal,unknown,soft,seasonal,surface,communal standpipe
19,18532,0.0,304,other,other,Ruvuma / Southern Coast,300,True,wtr_brd,True,80s,user-group,never pay,soft,dry,groundwater,communal standpipe
20,69961,0.0,266,other,other,Wami / Ruvu,120,True,other,False,10s,other,never pay,soft,enough,groundwater,communal standpipe
21,55083,0.0,1002,other,dwe,Rufiji,30,True,vwc,False,00s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
22,8691,0.0,302,Tasaf,dwe,Lake Tanganyika,1750,True,vwc,True,00s,user-group,unknown,milky,enough,groundwater,other
23,30331,0.0,297,other,other,Internal,1,True,vwc,Unknown,70s,user-group,unknown,unknown,dry,groundwater,communal standpipe
24,70970,0.0,422,other,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,never pay,soft,enough,groundwater,hand pump
25,61136,200.0,1014,other,dwe,Rufiji,50,True,vwc,False,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
26,28799,0.0,288,other,dwe,Ruvuma / Southern Coast,0,True,vwc,True,00s,user-group,never pay,soft,dry,surface,communal standpipe
27,46825,0.0,968,Water,other,Wami / Ruvu,0,True,vwc,False,unknown,user-group,pay per bucket,salty,dry,groundwater,communal standpipe multiple
28,44718,0.0,302,Dwsp,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,pay when scheme fails,salty abandoned,enough,groundwater,hand pump
29,37350,0.0,286,other,other,Internal,860,True,vwc,False,00s,user-group,never pay,soft,seasonal,surface,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14820,52228,0.0,310,other,other,Ruvuma / Southern Coast,749,True,vwc,False,00s,user-group,never pay,soft,seasonal,surface,communal standpipe
14821,70038,5.0,249,other,dwe,Pangani,45,True,wtr_brd,True,00s,user-group,pay per bucket,soft,enough,surface,communal standpipe
14822,25901,50.0,315,other,other,Ruvuma / Southern Coast,360,True,other,False,90s,other,pay per bucket,soft,insufficient,groundwater,communal standpipe
14823,21131,0.0,975,other,other,Lake Nyasa,0,True,Parastatal,Unknown,unknown,parastatal,unknown,soft,enough,groundwater,communal standpipe
14824,26580,0.0,958,other,other,Wami / Ruvu,250,True,vwc,True,00s,user-group,never pay,soft,insufficient,groundwater,hand pump
14825,66059,0.0,304,other,other,Ruvuma / Southern Coast,89,True,vwc,True,70s,user-group,never pay,soft,insufficient,groundwater,hand pump
14826,32944,0.0,405,World Vision,other,Lake Tanganyika,0,Unknown,wug,True,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14827,13686,0.0,864,hesawa,Hesawa,Lake Victoria,0,True,vwc,True,unknown,user-group,pay annually,soft,enough,groundwater,hand pump
14828,8471,50.0,1017,other,other,Wami / Ruvu,70,False,Private operator,False,unknown,commercial,pay per bucket,salty,enough,groundwater,other
14829,19620,0.0,334,gov,gov,Ruvuma / Southern Coast,80,Unknown,vwc,True,00s,user-group,unknown,soft,enough,groundwater,communal standpipe
14830,74162,0.0,259,Tcrs,TCRS,Pangani,150,True,wtr_auth,True,90s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
14831,37994,0.0,403,hesawa,dwe,Lake Victoria,0,True,vwc,True,unknown,user-group,never pay,salty,enough,groundwater,hand pump
14832,71151,0.0,253,Kkkt,KKKT,Pangani,260,True,vwc,False,00s,user-group,unknown,fluoride abandoned,enough,groundwater,communal standpipe
14833,45017,1000.0,1004,Kkkt,commu,Lake Nyasa,0,True,vwc,False,00s,user-group,pay annually,soft,enough,groundwater,communal standpipe
14834,12592,0.0,982,other,dwe,Internal,0,True,vwc,False,unknown,user-group,pay monthly,soft,insufficient,groundwater,communal standpipe
14835,58693,0.0,312,rwssp,dwe,Lake Tanganyika,0,True,other,True,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14836,57539,0.0,991,other,other,Rufiji,40,True,vwc,False,00s,user-group,never pay,soft,enough,groundwater,hand pump
14837,71252,500.0,296,Tasaf,other,Lake Tanganyika,780,True,wtr_auth,False,10s,user-group,pay annually,soft,enough,groundwater,hand pump
14838,7869,3000.0,998,Kkkt,commu,Lake Nyasa,0,True,vwc,False,80s,user-group,pay annually,soft,enough,groundwater,communal standpipe
14839,57316,0.0,998,other,other,Pangani,300,True,other,False,00s,other,never pay,soft,insufficient,groundwater,communal standpipe
14840,59757,0.0,282,other,other,Lake Nyasa,0,True,vwc,True,00s,user-group,never pay,soft,enough,surface,communal standpipe
14841,64579,0.0,403,Dwsp,dwe,Lake Victoria,0,Unknown,wug,False,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14842,57731,600.0,310,other,dwe,Lake Tanganyika,230,True,wug,True,00s,user-group,pay monthly,soft,enough,surface,communal standpipe multiple
14843,65541,0.0,302,other,other,Lake Tanganyika,1400,True,wtr_auth,False,90s,user-group,never pay,soft,enough,groundwater,other
14844,68174,0.0,391,other,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,other,soft,enough,groundwater,hand pump
14845,39307,0.0,1013,danida,other,Wami / Ruvu,20,True,vwc,True,80s,user-group,never pay,soft,enough,surface,communal standpipe
14846,18990,1000.0,988,other,other,Pangani,2960,True,vwc,False,90s,user-group,pay annually,salty,insufficient,groundwater,hand pump
14847,28749,0.0,274,other,other,Internal,200,True,vwc,Unknown,10s,user-group,never pay,soft,insufficient,surface,communal standpipe
14848,33492,0.0,288,other,dwe,Lake Nyasa,150,True,vwc,True,00s,user-group,never pay,soft,insufficient,surface,communal standpipe
14849,68707,0.0,293,gov,gov,Lake Nyasa,40,True,vwc,True,00s,user-group,never pay,soft,dry,groundwater,communal standpipe

In [3]:
dummy_cols = ['funder', 'installer', 'basin', 'public_meeting', 'scheme_management', 'permit',
              'construction_year', 'management_group', 'payment', 'water_quality',
              'quantity', 'source_class', 'waterpoint_type']

train = pd.get_dummies(train, columns = dummy_cols)

train = train.sample(frac=1).reset_index(drop=True)

In [4]:
test = pd.get_dummies(test, columns = dummy_cols)
#test

In [5]:
target = train.status_group
features = train.drop('status_group', axis=1)

X_train, X_val, y_train, y_val = train_test_split(features, target, train_size=0.8)

In [6]:
target

0                 non functional
1                     functional
2                     functional
3                     functional
4                     functional
5                 non functional
6                     functional
7                     functional
8                 non functional
9                     functional
10                non functional
11                    functional
12                    functional
13                    functional
14                non functional
15                    functional
16                    functional
17                non functional
18                    functional
19                non functional
20                    functional
21                non functional
22                    functional
23                    functional
24                    functional
25                    functional
26                    functional
27                non functional
28                non functional
29                non functional
                  ...
59370                 functional
59371                 functional
59372             non functional
59373             non functional
59374                 functional
59375                 functional
59376             non functional
59377                 functional
59378                 functional
59379                 functional
59380                 functional
59381                 functional
59382             non functional
59383             non functional
59384                 functional
59385                 functional
59386    functional needs repair
59387             non functional
59388                 functional
59389                 functional
59390             non functional
59391                 functional
59392                 functional
59393             non functional
59394             non functional
59395             non functional
59396             non functional
59397                 functional
59398    functional needs repair
59399             non functional
Name: status_group, Length: 59400, dtype: object

In [7]:
rfc = RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=20)
rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [8]:
rfc_model = rfc.fit(X_train,y_train)

In [9]:
val_acc = rfc_model.score(X_val,y_val)
val_acc

0.7867003367003367

In [10]:
pred = rfc_model.predict(X_train)
pred

array(['non functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [22]:
ytrain=y_train.values
ytrain

array(['non functional', 'functional', 'functional', ...,
       'functional needs repair', 'functional', 'non functional'],
      dtype=object)

In [23]:
from sklearn import metrics

In [24]:
metrics.confusion_matrix(ytrain,pred)

array([[25505,    38,   293],
       [ 1481,  1768,   171],
       [ 2944,    25, 15295]], dtype=int64)

In [25]:
scores = rfc_model.score(X_train,y_train)
scores

0.8957912457912458

In [26]:
metrics.accuracy_score(ytrain,pred)

0.8957912457912458

In [27]:
from sklearn.metrics import classification_report

In [28]:
from sklearn.metrics import classification_report
#target_names = ['functional', 'functional needs repair', 'non functional']
print(classification_report(ytrain, pred))

                         precision    recall  f1-score   support

             functional       0.85      0.99      0.91     25836
functional needs repair       0.97      0.52      0.67      3420
         non functional       0.97      0.84      0.90     18264

            avg / total       0.91      0.90      0.89     47520

In [29]:
from sklearn.externals import joblib

In [30]:
filename = 'rfc78.sav'
joblib.dump(rfc_model,filename)

['rfc78.sav']

In [31]:
loaded_model_rfc = joblib.load(filename)

In [32]:
loaded_model_rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
final_rfc=loaded_model_rfc.fit(features, target)

In [34]:
predictions = loaded_model_rfc.predict(test)

In [35]:
final_filename = 'final_rfc78.sav'

In [36]:
joblib.dump(final_rfc,final_filename)

['final_rfc78.sav']

In [37]:
final_loaded = joblib.load(final_filename)
final_loaded

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [38]:
predictions

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [39]:
importances = final_loaded.feature_importances_
importances

array([9.42661046e-02, 3.81992688e-02, 8.81119454e-02, 5.82562113e-02,
       8.36824874e-04, 3.61760369e-03, 3.68777639e-04, 1.01920387e-03,
       1.65205455e-03, 1.56448251e-03, 1.30823336e-03, 1.78411229e-03,
       1.41505963e-03, 1.75190404e-03, 8.12256101e-04, 1.86222752e-03,
       3.42283853e-03, 1.17845528e-02, 2.17882962e-03, 1.11690520e-02,
       1.83733302e-03, 3.67456209e-03, 3.32353727e-04, 1.73311863e-03,
       1.15930645e-03, 5.18380478e-04, 1.10599713e-03, 1.92734871e-03,
       9.24617297e-04, 1.64453760e-03, 2.14447045e-03, 9.90396041e-04,
       1.08121185e-02, 5.12337765e-03, 1.04286525e-02, 4.49641172e-03,
       8.15454809e-03, 7.08072535e-03, 4.64983934e-03, 7.18928693e-03,
       7.92348847e-03, 7.21602508e-03, 5.93154215e-03, 6.93923953e-03,
       5.94083411e-03, 6.97040305e-03, 8.53084184e-03, 4.00098410e-03,
       3.06599905e-03, 1.91855275e-03, 1.70395828e-03, 4.44267076e-03,
       1.00824101e-02, 5.14081640e-03, 4.12783128e-03, 3.02996781e-03,
       7.02189414e-03, 1.08636386e-02, 1.08640659e-02, 4.26686764e-03,
       1.16387865e-02, 1.02914848e-02, 1.28940666e-03, 1.13408662e-02,
       9.14581859e-03, 6.47489803e-03, 7.22294197e-03, 4.54990981e-03,
       1.70277985e-03, 2.07704900e-03, 1.08354316e-03, 6.44729508e-03,
       1.60447536e-02, 1.42394735e-03, 4.83136043e-03, 7.91175221e-03,
       8.30047103e-03, 3.97672192e-03, 7.36634886e-03, 1.09423531e-03,
       6.49169996e-04, 5.63086873e-05, 1.52961509e-03, 4.93465451e-03,
       1.25385908e-03, 8.56148747e-03, 1.09077569e-02, 1.15163814e-01,
       3.99323799e-02, 1.84512822e-02, 9.03783923e-03, 2.71719424e-03,
       8.78732474e-03, 8.71765419e-03, 8.36972467e-04, 3.42263119e-04,
       1.97798591e-02, 1.40173822e-02, 3.05780843e-05, 1.77640776e-02,
       2.82354386e-03, 6.81996568e-02])

In [40]:
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X_val.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))
    print(X_val.columns[indices[f]],end=',')
    print()

Feature ranking:
1. feature 87 (0.115164)
quantity_dry,
2. feature 0 (0.094266)
id,
3. feature 2 (0.088112)
days_since_recorded,
4. feature 101 (0.068200)
waterpoint_type_other,
5. feature 3 (0.058256)
population,
6. feature 88 (0.039932)
quantity_enough,
7. feature 1 (0.038199)
amount_tsh,
8. feature 96 (0.019780)
waterpoint_type_communal standpipe,
9. feature 89 (0.018451)
quantity_insufficient,
10. feature 99 (0.017764)
waterpoint_type_hand pump,
11. feature 72 (0.016045)
payment_never pay,
12. feature 97 (0.014017)
waterpoint_type_communal standpipe multiple,
13. feature 17 (0.011785)
funder_gov,
14. feature 60 (0.011639)
construction_year_00s,
15. feature 63 (0.011341)
construction_year_70s,
16. feature 19 (0.011169)
funder_other,
17. feature 86 (0.010908)
water_quality_unknown,
18. feature 58 (0.010864)
permit_True,
19. feature 57 (0.010864)
permit_False,
20. feature 32 (0.010812)
installer_dwe,
21. feature 34 (0.010429)
installer_other,
22. feature 61 (0.010291)
construction_year_10s,
23. feature 52 (0.010082)
scheme_management_vwc,
24. feature 64 (0.009146)
construction_year_80s,
25. feature 90 (0.009038)
quantity_seasonal,
26. feature 92 (0.008787)
source_class_groundwater,
27. feature 93 (0.008718)
source_class_surface,
28. feature 85 (0.008561)
water_quality_soft,
29. feature 46 (0.008531)
public_meeting_True,
30. feature 76 (0.008300)
payment_pay per bucket,
31. feature 36 (0.008155)
basin_Internal,
32. feature 40 (0.007923)
basin_Lake Victoria,
33. feature 75 (0.007912)
payment_pay monthly,
34. feature 78 (0.007366)
payment_unknown,
35. feature 66 (0.007223)
construction_year_unknown,
36. feature 41 (0.007216)
basin_Pangani,
37. feature 39 (0.007189)
basin_Lake Tanganyika,
38. feature 37 (0.007081)
basin_Lake Nyasa,
39. feature 56 (0.007022)
scheme_management_wug,
40. feature 45 (0.006970)
public_meeting_False,
41. feature 43 (0.006939)
basin_Ruvuma / Southern Coast,
42. feature 65 (0.006475)
construction_year_90s,
43. feature 71 (0.006447)
management_group_user-group,
44. feature 44 (0.005941)
basin_Wami / Ruvu,
45. feature 42 (0.005932)
basin_Rufiji,
46. feature 53 (0.005141)
scheme_management_wtr_auth,
47. feature 33 (0.005123)
installer_gov,
48. feature 83 (0.004935)
water_quality_salty,
49. feature 74 (0.004831)
payment_pay annually,
50. feature 38 (0.004650)
basin_Lake Rukwa,
51. feature 67 (0.004550)
management_group_commercial,
52. feature 35 (0.004496)
installer_rwe,
53. feature 51 (0.004443)
scheme_management_other,
54. feature 59 (0.004267)
permit_Unknown,
55. feature 54 (0.004128)
scheme_management_wtr_brd,
56. feature 47 (0.004001)
public_meeting_Unknown,
57. feature 77 (0.003977)
payment_pay when scheme fails,
58. feature 21 (0.003675)
funder_world_bank,
59. feature 5 (0.003618)
funder_Dwsp,
60. feature 16 (0.003423)
funder_danida,
61. feature 48 (0.003066)
scheme_management_Company,
62. feature 55 (0.003030)
scheme_management_wua,
63. feature 100 (0.002824)
waterpoint_type_improved spring,
64. feature 91 (0.002717)
quantity_unknown,
65. feature 18 (0.002179)
funder_hesawa,
66. feature 30 (0.002144)
installer_commu,
67. feature 69 (0.002077)
management_group_parastatal,
68. feature 27 (0.001927)
installer_Hesawa,
69. feature 49 (0.001919)
scheme_management_Parastatal,
70. feature 15 (0.001862)
funder_World Vision,
71. feature 20 (0.001837)
funder_rwssp,
72. feature 11 (0.001784)
funder_Tasaf,
73. feature 13 (0.001752)
funder_Unicef,
74. feature 23 (0.001733)
installer_Central government,
75. feature 50 (0.001704)
scheme_management_Private operator,
76. feature 68 (0.001703)
management_group_other,
77. feature 8 (0.001652)
funder_Ministry Of Water,
78. feature 29 (0.001645)
installer_TCRS,
79. feature 9 (0.001564)
funder_Norad,
80. feature 82 (0.001530)
water_quality_milky,
81. feature 73 (0.001424)
payment_other,
82. feature 12 (0.001415)
funder_Tcrs,
83. feature 10 (0.001308)
funder_Private Individual,
84. feature 62 (0.001289)
construction_year_60s,
85. feature 84 (0.001254)
water_quality_salty abandoned,
86. feature 24 (0.001159)
installer_Community,
87. feature 26 (0.001106)
installer_District Council,
88. feature 79 (0.001094)
water_quality_coloured,
89. feature 70 (0.001084)
management_group_unknown,
90. feature 7 (0.001019)
funder_Kkkt,
91. feature 31 (0.000990)
installer_danida,
92. feature 28 (0.000925)
installer_KKKT,
93. feature 94 (0.000837)
source_class_unknown,
94. feature 4 (0.000837)
funder_Dhv,
95. feature 14 (0.000812)
funder_Water,
96. feature 80 (0.000649)
water_quality_fluoride,
97. feature 25 (0.000518)
installer_DANID,
98. feature 6 (0.000369)
funder_Germany Republi,
99. feature 95 (0.000342)
waterpoint_type_cattle trough,
100. feature 22 (0.000332)
installer_CES,
101. feature 81 (0.000056)
water_quality_fluoride abandoned,
102. feature 98 (0.000031)
waterpoint_type_dam,

In [41]:
predictions=pd.DataFrame(predictions)
predictions

                             0
0                   functional
1                   functional
2                   functional
3               non functional
4                   functional
5                   functional
6                   functional
7               non functional
8               non functional
9                   functional
10                  functional
11              non functional
12              non functional
13                  functional
14                  functional
15                  functional
16                  functional
17                  functional
18                  functional
19              non functional
20                  functional
21              non functional
22              non functional
23              non functional
24                  functional
25                  functional
26              non functional
27              non functional
28     functional needs repair
29                  functional
...                        ...
14820           non functional
14821               functional
14822               functional
14823               functional
14824           non functional
14825           non functional
14826               functional
14827               functional
14828               functional
14829               functional
14830           non functional
14831               functional
14832               functional
14833               functional
14834               functional
14835               functional
14836               functional
14837           non functional
14838               functional
14839           non functional
14840               functional
14841               functional
14842  functional needs repair
14843               functional
14844               functional
14845           non functional
14846               functional
14847               functional
14848               functional
14849           non functional

[14850 rows x 1 columns]

In [42]:
#https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/test_set_values.csv
pred_id = pd.read_csv('https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/test_set_values.csv', usecols=['id'])
pred_id

          id
0      50785
1      51630
2      17168
3      45559
4      49871
5      52449
6      24806
7      28965
8      36301
9      54122
10       419
11     45750
12       653
13     14017
14     44607
15     40228
16     27714
17     28785
18     28330
19     18532
20     69961
21     55083
22      8691
23     30331
24     70970
25     61136
26     28799
27     46825
28     44718
29     37350
...      ...
14820  52228
14821  70038
14822  25901
14823  21131
14824  26580
14825  66059
14826  32944
14827  13686
14828   8471
14829  19620
14830  74162
14831  37994
14832  71151
14833  45017
14834  12592
14835  58693
14836  57539
14837  71252
14838   7869
14839  57316
14840  59757
14841  64579
14842  57731
14843  65541
14844  68174
14845  39307
14846  18990
14847  28749
14848  33492
14849  68707

[14850 rows x 1 columns]

In [43]:
final=pd.concat([pred_id,predictions],axis=1)
final

          id                        0
0      50785               functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806               functional
7      28965           non functional
8      36301           non functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017               functional
14     44607               functional
15     40228               functional
16     27714               functional
17     28785               functional
18     28330               functional
19     18532           non functional
20     69961               functional
21     55083           non functional
22      8691           non functional
23     30331           non functional
24     70970               functional
25     61136               functional
26     28799           non functional
27     46825           non functional
28     44718  functional needs repair
29     37350               functional
...      ...                      ...
14820  52228           non functional
14821  70038               functional
14822  25901               functional
14823  21131               functional
14824  26580           non functional
14825  66059           non functional
14826  32944               functional
14827  13686               functional
14828   8471               functional
14829  19620               functional
14830  74162           non functional
14831  37994               functional
14832  71151               functional
14833  45017               functional
14834  12592               functional
14835  58693               functional
14836  57539               functional
14837  71252           non functional
14838   7869               functional
14839  57316           non functional
14840  59757               functional
14841  64579               functional
14842  57731  functional needs repair
14843  65541               functional
14844  68174               functional
14845  39307           non functional
14846  18990               functional
14847  28749               functional
14848  33492               functional
14849  68707           non functional

[14850 rows x 2 columns]

In [44]:
final.columns=['id','status_group']
final

          id             status_group
0      50785               functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806               functional
7      28965           non functional
8      36301           non functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017               functional
14     44607               functional
15     40228               functional
16     27714               functional
17     28785               functional
18     28330               functional
19     18532           non functional
20     69961               functional
21     55083           non functional
22      8691           non functional
23     30331           non functional
24     70970               functional
25     61136               functional
26     28799           non functional
27     46825           non functional
28     44718  functional needs repair
29     37350               functional
...      ...                      ...
14820  52228           non functional
14821  70038               functional
14822  25901               functional
14823  21131               functional
14824  26580           non functional
14825  66059           non functional
14826  32944               functional
14827  13686               functional
14828   8471               functional
14829  19620               functional
14830  74162           non functional
14831  37994               functional
14832  71151               functional
14833  45017               functional
14834  12592               functional
14835  58693               functional
14836  57539               functional
14837  71252           non functional
14838   7869               functional
14839  57316           non functional
14840  59757               functional
14841  64579               functional
14842  57731  functional needs repair
14843  65541               functional
14844  68174               functional
14845  39307           non functional
14846  18990               functional
14847  28749               functional
14848  33492               functional
14849  68707           non functional

[14850 rows x 2 columns]

In [45]:
final.to_csv('predictions_RFCTEST78.csv', index=False)