In [0]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import warnings
warnings.filterwarnings('ignore')
from xgboost import XGBClassifier

train = "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/pump_train_for_models%20(1).csv" 
test =  "https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/water_table_test.csv"
train = pd.read_csv(train)
test = pd.read_csv(test)

In [32]:
test

,id,amount_tsh,days_since_recorded,funder,installer,basin,population,public_meeting,scheme_management,permit,construction_year,management_group,payment,water_quality,quantity,source_class,waterpoint_type
0,50785,0.0,302,other,other,Internal,321,True,Parastatal,True,10s,parastatal,never pay,soft,seasonal,surface,other
1,51630,0.0,302,gov,dwe,Pangani,300,True,vwc,True,00s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
2,17168,0.0,305,other,other,Internal,500,True,vwc,Unknown,10s,user-group,never pay,soft,insufficient,surface,other
3,45559,0.0,315,other,other,Ruvuma / Southern Coast,250,Unknown,vwc,True,80s,user-group,unknown,soft,dry,groundwater,other
4,49871,500.0,251,other,other,Ruvuma / Southern Coast,60,Unknown,wtr_brd,True,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
5,52449,0.0,274,gov,dwe,Pangani,200,True,vwc,True,90s,user-group,never pay,soft,enough,groundwater,communal standpipe
6,24806,0.0,1007,gov,other,Rufiji,600,True,vwc,True,00s,user-group,never pay,salty,enough,groundwater,hand pump
7,28965,0.0,312,other,other,Ruvuma / Southern Coast,1,True,wtr_brd,True,80s,user-group,never pay,soft,dry,groundwater,communal standpipe multiple
8,36301,30.0,314,Unicef,other,Ruvuma / Southern Coast,40,True,vwc,False,90s,user-group,pay per bucket,soft,insufficient,groundwater,communal standpipe
9,54122,0.0,260,other,other,Pangani,1,True,wtr_brd,True,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
10,419,5.0,61,Germany Republi,CES,Pangani,75,True,wtr_brd,True,00s,user-group,pay per bucket,soft,enough,groundwater,communal standpipe
11,45750,0.0,279,World Vision,other,Pangani,500,True,other,True,00s,user-group,never pay,soft,dry,surface,other
12,653,0.0,418,world_bank,other,Internal,0,True,other,True,unknown,user-group,unknown,soft,dry,groundwater,communal standpipe multiple
13,14017,0.0,858,Ministry Of Water,dwe,Lake Victoria,0,True,vwc,True,unknown,user-group,pay per bucket,soft,enough,groundwater,communal standpipe multiple
14,44607,1000.0,1007,danida,DANID,Rufiji,1,True,vwc,True,80s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
15,40228,1200.0,183,danida,dwe,Ruvuma / Southern Coast,0,True,vwc,True,80s,user-group,pay annually,soft,enough,surface,communal standpipe multiple
16,27714,0.0,1013,other,other,Rufiji,900,True,vwc,False,unknown,user-group,never pay,soft,enough,groundwater,hand pump
17,28785,200.0,998,gov,dwe,Pangani,1,True,vwc,True,70s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
18,28330,0.0,423,other,dwe,Lake Tanganyika,0,True,Parastatal,True,unknown,parastatal,unknown,soft,seasonal,surface,communal standpipe
19,18532,0.0,304,other,other,Ruvuma / Southern Coast,300,True,wtr_brd,True,80s,user-group,never pay,soft,dry,groundwater,communal standpipe
20,69961,0.0,266,other,other,Wami / Ruvu,120,True,other,False,10s,other,never pay,soft,enough,groundwater,communal standpipe
21,55083,0.0,1002,other,dwe,Rufiji,30,True,vwc,False,00s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
22,8691,0.0,302,Tasaf,dwe,Lake Tanganyika,1750,True,vwc,True,00s,user-group,unknown,milky,enough,groundwater,other
23,30331,0.0,297,other,other,Internal,1,True,vwc,Unknown,70s,user-group,unknown,unknown,dry,groundwater,communal standpipe
24,70970,0.0,422,other,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,never pay,soft,enough,groundwater,hand pump
25,61136,200.0,1014,other,dwe,Rufiji,50,True,vwc,False,00s,user-group,pay monthly,soft,enough,groundwater,communal standpipe
26,28799,0.0,288,other,dwe,Ruvuma / Southern Coast,0,True,vwc,True,00s,user-group,never pay,soft,dry,surface,communal standpipe
27,46825,0.0,968,Water,other,Wami / Ruvu,0,True,vwc,False,unknown,user-group,pay per bucket,salty,dry,groundwater,communal standpipe multiple
28,44718,0.0,302,Dwsp,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,pay when scheme fails,salty abandoned,enough,groundwater,hand pump
29,37350,0.0,286,other,other,Internal,860,True,vwc,False,00s,user-group,never pay,soft,seasonal,surface,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14820,52228,0.0,310,other,other,Ruvuma / Southern Coast,749,True,vwc,False,00s,user-group,never pay,soft,seasonal,surface,communal standpipe
14821,70038,5.0,249,other,dwe,Pangani,45,True,wtr_brd,True,00s,user-group,pay per bucket,soft,enough,surface,communal standpipe
14822,25901,50.0,315,other,other,Ruvuma / Southern Coast,360,True,other,False,90s,other,pay per bucket,soft,insufficient,groundwater,communal standpipe
14823,21131,0.0,975,other,other,Lake Nyasa,0,True,Parastatal,Unknown,unknown,parastatal,unknown,soft,enough,groundwater,communal standpipe
14824,26580,0.0,958,other,other,Wami / Ruvu,250,True,vwc,True,00s,user-group,never pay,soft,insufficient,groundwater,hand pump
14825,66059,0.0,304,other,other,Ruvuma / Southern Coast,89,True,vwc,True,70s,user-group,never pay,soft,insufficient,groundwater,hand pump
14826,32944,0.0,405,World Vision,other,Lake Tanganyika,0,Unknown,wug,True,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14827,13686,0.0,864,hesawa,Hesawa,Lake Victoria,0,True,vwc,True,unknown,user-group,pay annually,soft,enough,groundwater,hand pump
14828,8471,50.0,1017,other,other,Wami / Ruvu,70,False,Private operator,False,unknown,commercial,pay per bucket,salty,enough,groundwater,other
14829,19620,0.0,334,gov,gov,Ruvuma / Southern Coast,80,Unknown,vwc,True,00s,user-group,unknown,soft,enough,groundwater,communal standpipe
14830,74162,0.0,259,Tcrs,TCRS,Pangani,150,True,wtr_auth,True,90s,user-group,never pay,soft,insufficient,groundwater,communal standpipe
14831,37994,0.0,403,hesawa,dwe,Lake Victoria,0,True,vwc,True,unknown,user-group,never pay,salty,enough,groundwater,hand pump
14832,71151,0.0,253,Kkkt,KKKT,Pangani,260,True,vwc,False,00s,user-group,unknown,fluoride abandoned,enough,groundwater,communal standpipe
14833,45017,1000.0,1004,Kkkt,commu,Lake Nyasa,0,True,vwc,False,00s,user-group,pay annually,soft,enough,groundwater,communal standpipe
14834,12592,0.0,982,other,dwe,Internal,0,True,vwc,False,unknown,user-group,pay monthly,soft,insufficient,groundwater,communal standpipe
14835,58693,0.0,312,rwssp,dwe,Lake Tanganyika,0,True,other,True,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14836,57539,0.0,991,other,other,Rufiji,40,True,vwc,False,00s,user-group,never pay,soft,enough,groundwater,hand pump
14837,71252,500.0,296,Tasaf,other,Lake Tanganyika,780,True,wtr_auth,False,10s,user-group,pay annually,soft,enough,groundwater,hand pump
14838,7869,3000.0,998,Kkkt,commu,Lake Nyasa,0,True,vwc,False,80s,user-group,pay annually,soft,enough,groundwater,communal standpipe
14839,57316,0.0,998,other,other,Pangani,300,True,other,False,00s,other,never pay,soft,insufficient,groundwater,communal standpipe
14840,59757,0.0,282,other,other,Lake Nyasa,0,True,vwc,True,00s,user-group,never pay,soft,enough,surface,communal standpipe
14841,64579,0.0,403,Dwsp,dwe,Lake Victoria,0,Unknown,wug,False,unknown,user-group,unknown,soft,enough,groundwater,hand pump
14842,57731,600.0,310,other,dwe,Lake Tanganyika,230,True,wug,True,00s,user-group,pay monthly,soft,enough,surface,communal standpipe multiple
14843,65541,0.0,302,other,other,Lake Tanganyika,1400,True,wtr_auth,False,90s,user-group,never pay,soft,enough,groundwater,other
14844,68174,0.0,391,other,dwe,Lake Victoria,0,True,wug,False,unknown,user-group,other,soft,enough,groundwater,hand pump
14845,39307,0.0,1013,danida,other,Wami / Ruvu,20,True,vwc,True,80s,user-group,never pay,soft,enough,surface,communal standpipe
14846,18990,1000.0,988,other,other,Pangani,2960,True,vwc,False,90s,user-group,pay annually,salty,insufficient,groundwater,hand pump
14847,28749,0.0,274,other,other,Internal,200,True,vwc,Unknown,10s,user-group,never pay,soft,insufficient,surface,communal standpipe
14848,33492,0.0,288,other,dwe,Lake Nyasa,150,True,vwc,True,00s,user-group,never pay,soft,insufficient,surface,communal standpipe
14849,68707,0.0,293,gov,gov,Lake Nyasa,40,True,vwc,True,00s,user-group,never pay,soft,dry,groundwater,communal standpipe

In [0]:
dummy_cols = ['funder', 'installer', 'basin', 'public_meeting', 'scheme_management', 'permit',
              'construction_year', 'management_group', 'payment', 'water_quality',
              'quantity', 'source_class', 'waterpoint_type']

train = pd.get_dummies(train, columns = dummy_cols)

train = train.sample(frac=1).reset_index(drop=True)

In [0]:
test = pd.get_dummies(test, columns = dummy_cols)
#test

In [0]:
target = train.status_group
features = train.drop('status_group', axis=1)

X_train, X_val, y_train, y_val = train_test_split(features, target, train_size=0.8)

In [7]:
target

0                     functional
1                     functional
2                 non functional
3                     functional
4                     functional
5                 non functional
6                     functional
7                     functional
8                     functional
9                     functional
10                non functional
11                    functional
12                    functional
13                    functional
14                    functional
15                    functional
16                non functional
17                non functional
18                    functional
19                non functional
20       functional needs repair
21                non functional
22                    functional
23                    functional
24                    functional
25                non functional
26                non functional
27                    functional
28                non functional
29       functional needs repair
                  ...
59370                 functional
59371                 functional
59372                 functional
59373             non functional
59374                 functional
59375             non functional
59376                 functional
59377             non functional
59378             non functional
59379                 functional
59380             non functional
59381                 functional
59382                 functional
59383                 functional
59384             non functional
59385             non functional
59386                 functional
59387                 functional
59388                 functional
59389    functional needs repair
59390                 functional
59391             non functional
59392                 functional
59393                 functional
59394    functional needs repair
59395             non functional
59396                 functional
59397                 functional
59398                 functional
59399                 functional
Name: status_group, Length: 59400, dtype: object

In [46]:
xgb = XGBClassifier(n_estimators=250,max_depth=10)
xgb

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=10, min_child_weight=1, missing=None, n_estimators=250,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [0]:
xgb_model = xgb.fit(X_train,y_train)

In [48]:
val_acc = xgb_model.score(X_val,y_val)
val_acc

0.7896464646464646

In [49]:
scores = xgb_model.score(X_train,y_train)
scores

0.8956228956228957

In [50]:
pred = xgb_model.predict(X_train)
pred

array(['functional', 'non functional', 'functional', ..., 'functional',
       'functional', 'functional'], dtype=object)

In [51]:
ytrain=y_train.values
ytrain

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'functional'], dtype=object)

In [0]:
from sklearn import metrics

In [53]:
metrics.confusion_matrix(ytrain,pred)

array([[25128,    96,   638],
       [ 1190,  2003,   281],
       [ 2686,    69, 15429]])

In [0]:
from sklearn.metrics import classification_report

In [55]:
from sklearn.metrics import classification_report
#target_names = ['functional', 'functional needs repair', 'non functional']
print(classification_report(ytrain, pred))

                         precision    recall  f1-score   support

             functional       0.87      0.97      0.92     25862
functional needs repair       0.92      0.58      0.71      3474
         non functional       0.94      0.85      0.89     18184

            avg / total       0.90      0.90      0.89     47520

In [59]:
from sklearn.externals import joblib
filename = 'xgb_modelmodel.sav'
joblib.dump(xgb_model,filename)

['xgb_modelmodel.sav']

In [0]:
loaded_model_xgb = joblib.load(filename)

In [19]:
loaded_model_xgb

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=nan, n_estimators=250,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [20]:
final_xgb=loaded_model_xgb.fit(features, target)     
predictions = loaded_model_xgb.predict(test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [21]:
final_filename = 'final_xgb1.sav'
joblib.dump(final_xgb,final_filename)

['final_xgb1.sav']

In [22]:
final_loaded = joblib.load(final_filename)
final_loaded

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=nan, n_estimators=250,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [23]:
predictions

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'non functional'], dtype=object)

In [56]:
importances = final_loaded.feature_importances_
importances

array([0.02287708, 0.03063203, 0.1541295 , 0.04866227, 0.00252036,
       0.00756107, 0.00562233, 0.00096937, 0.0073672 , 0.00096937,
       0.0029081 , 0.00077549, 0.00116324, 0.00193874, 0.00445909,
       0.00620396, 0.00426522, 0.00794882, 0.00814269, 0.0073672 ,
       0.00116324, 0.00988755, 0.        , 0.0029081 , 0.00310198,
       0.0065917 , 0.00019387, 0.00756107, 0.00348972, 0.00542846,
       0.00717332, 0.00116324, 0.01085692, 0.00775494, 0.01085692,
       0.00542846, 0.01783637, 0.01143854, 0.00484684, 0.00872431,
       0.02210159, 0.01124467, 0.00329585, 0.00756107, 0.01163242,
       0.00911206, 0.00988755, 0.0036836 , 0.00678558, 0.0036836 ,
       0.00271423, 0.00504071, 0.00445909, 0.01202016, 0.0065917 ,
       0.00678558, 0.01783637, 0.00833656, 0.0110508 , 0.01531601,
       0.00756107, 0.02132609, 0.00484684, 0.00794882, 0.00891819,
       0.00872431, 0.0102753 , 0.00949981, 0.00310198, 0.        ,
       0.        , 0.01415277, 0.01202016, 0.00116324, 0.00484684,
       0.00872431, 0.01357115, 0.00426522, 0.01182629, 0.00193874,
       0.00271423, 0.        , 0.0073672 , 0.00542846, 0.00387747,
       0.00329585, 0.00601008, 0.03334626, 0.01376502, 0.01066305,
       0.0065917 , 0.00853044, 0.01240791, 0.01046917, 0.0029081 ,
       0.00271423, 0.01221404, 0.01357115, 0.        , 0.03606049,
       0.00678558, 0.01454052], dtype=float32)

In [57]:
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X_val.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))
    print(X_val.columns[indices[f]],end=',')
    print()

Feature ranking:
1. feature 2 (0.154130)
days_since_recorded,
2. feature 3 (0.048662)
population,
3. feature 99 (0.036060)
waterpoint_type_hand pump,
4. feature 87 (0.033346)
quantity_dry,
5. feature 1 (0.030632)
amount_tsh,
6. feature 0 (0.022877)
id,
7. feature 40 (0.022102)
basin_Lake Victoria,
8. feature 61 (0.021326)
construction_year_10s,
9. feature 36 (0.017836)
basin_Internal,
10. feature 56 (0.017836)
scheme_management_wug,
11. feature 59 (0.015316)
permit_Unknown,
12. feature 101 (0.014541)
waterpoint_type_other,
13. feature 71 (0.014153)
management_group_user-group,
14. feature 88 (0.013765)
quantity_enough,
15. feature 97 (0.013571)
waterpoint_type_communal standpipe multiple,
16. feature 76 (0.013571)
payment_pay per bucket,
17. feature 92 (0.012408)
source_class_groundwater,
18. feature 96 (0.012214)
waterpoint_type_communal standpipe,
19. feature 72 (0.012020)
payment_never pay,
20. feature 53 (0.012020)
scheme_management_wtr_auth,
21. feature 78 (0.011826)
payment_unknown,
22. feature 44 (0.011632)
basin_Wami / Ruvu,
23. feature 37 (0.011439)
basin_Lake Nyasa,
24. feature 41 (0.011245)
basin_Pangani,
25. feature 58 (0.011051)
permit_True,
26. feature 32 (0.010857)
installer_dwe,
27. feature 34 (0.010857)
installer_other,
28. feature 89 (0.010663)
quantity_insufficient,
29. feature 93 (0.010469)
source_class_surface,
30. feature 66 (0.010275)
construction_year_unknown,
31. feature 21 (0.009888)
funder_world_bank,
32. feature 46 (0.009888)
public_meeting_True,
33. feature 67 (0.009500)
management_group_commercial,
34. feature 45 (0.009112)
public_meeting_False,
35. feature 64 (0.008918)
construction_year_80s,
36. feature 75 (0.008724)
payment_pay monthly,
37. feature 39 (0.008724)
basin_Lake Tanganyika,
38. feature 65 (0.008724)
construction_year_90s,
39. feature 91 (0.008530)
quantity_unknown,
40. feature 57 (0.008337)
permit_False,
41. feature 18 (0.008143)
funder_hesawa,
42. feature 17 (0.007949)
funder_gov,
43. feature 63 (0.007949)
construction_year_70s,
44. feature 33 (0.007755)
installer_gov,
45. feature 60 (0.007561)
construction_year_00s,
46. feature 27 (0.007561)
installer_Hesawa,
47. feature 43 (0.007561)
basin_Ruvuma / Southern Coast,
48. feature 5 (0.007561)
funder_Dwsp,
49. feature 82 (0.007367)
water_quality_milky,
50. feature 19 (0.007367)
funder_other,
51. feature 8 (0.007367)
funder_Ministry Of Water,
52. feature 30 (0.007173)
installer_commu,
53. feature 100 (0.006786)
waterpoint_type_improved spring,
54. feature 55 (0.006786)
scheme_management_wua,
55. feature 48 (0.006786)
scheme_management_Company,
56. feature 54 (0.006592)
scheme_management_wtr_brd,
57. feature 90 (0.006592)
quantity_seasonal,
58. feature 25 (0.006592)
installer_DANID,
59. feature 15 (0.006204)
funder_World Vision,
60. feature 86 (0.006010)
water_quality_unknown,
61. feature 6 (0.005622)
funder_Germany Republi,
62. feature 29 (0.005428)
installer_TCRS,
63. feature 83 (0.005428)
water_quality_salty,
64. feature 35 (0.005428)
installer_rwe,
65. feature 51 (0.005041)
scheme_management_other,
66. feature 38 (0.004847)
basin_Lake Rukwa,
67. feature 74 (0.004847)
payment_pay annually,
68. feature 62 (0.004847)
construction_year_60s,
69. feature 52 (0.004459)
scheme_management_vwc,
70. feature 14 (0.004459)
funder_Water,
71. feature 77 (0.004265)
payment_pay when scheme fails,
72. feature 16 (0.004265)
funder_danida,
73. feature 84 (0.003877)
water_quality_salty abandoned,
74. feature 47 (0.003684)
public_meeting_Unknown,
75. feature 49 (0.003684)
scheme_management_Parastatal,
76. feature 28 (0.003490)
installer_KKKT,
77. feature 42 (0.003296)
basin_Rufiji,
78. feature 85 (0.003296)
water_quality_soft,
79. feature 24 (0.003102)
installer_Community,
80. feature 68 (0.003102)
management_group_other,
81. feature 23 (0.002908)
installer_Central government,
82. feature 94 (0.002908)
source_class_unknown,
83. feature 10 (0.002908)
funder_Private Individual,
84. feature 95 (0.002714)
waterpoint_type_cattle trough,
85. feature 50 (0.002714)
scheme_management_Private operator,
86. feature 80 (0.002714)
water_quality_fluoride,
87. feature 4 (0.002520)
funder_Dhv,
88. feature 13 (0.001939)
funder_Unicef,
89. feature 79 (0.001939)
water_quality_coloured,
90. feature 20 (0.001163)
funder_rwssp,
91. feature 31 (0.001163)
installer_danida,
92. feature 73 (0.001163)
payment_other,
93. feature 12 (0.001163)
funder_Tcrs,
94. feature 9 (0.000969)
funder_Norad,
95. feature 7 (0.000969)
funder_Kkkt,
96. feature 11 (0.000775)
funder_Tasaf,
97. feature 26 (0.000194)
installer_District Council,
98. feature 22 (0.000000)
installer_CES,
99. feature 69 (0.000000)
management_group_parastatal,
100. feature 70 (0.000000)
management_group_unknown,
101. feature 98 (0.000000)
waterpoint_type_dam,
102. feature 81 (0.000000)
water_quality_fluoride abandoned,

In [26]:
predictions=pd.DataFrame(predictions)
predictions

                             0
0                   functional
1                   functional
2                   functional
3               non functional
4                   functional
5                   functional
6                   functional
7               non functional
8                   functional
9                   functional
10                  functional
11              non functional
12              non functional
13                  functional
14                  functional
15                  functional
16                  functional
17                  functional
18                  functional
19              non functional
20                  functional
21                  functional
22              non functional
23              non functional
24                  functional
25                  functional
26              non functional
27              non functional
28     functional needs repair
29                  functional
...                        ...
14820               functional
14821               functional
14822               functional
14823               functional
14824               functional
14825           non functional
14826               functional
14827               functional
14828           non functional
14829               functional
14830           non functional
14831               functional
14832               functional
14833               functional
14834               functional
14835               functional
14836               functional
14837               functional
14838               functional
14839               functional
14840               functional
14841               functional
14842  functional needs repair
14843           non functional
14844               functional
14845           non functional
14846               functional
14847               functional
14848               functional
14849           non functional

[14850 rows x 1 columns]

In [27]:
#https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/test_set_values.csv
pred_id = pd.read_csv('https://raw.githubusercontent.com/12ani/Taarifa_water_table/master/test_set_values.csv', usecols=['id'])
pred_id

          id
0      50785
1      51630
2      17168
3      45559
4      49871
5      52449
6      24806
7      28965
8      36301
9      54122
10       419
11     45750
12       653
13     14017
14     44607
15     40228
16     27714
17     28785
18     28330
19     18532
20     69961
21     55083
22      8691
23     30331
24     70970
25     61136
26     28799
27     46825
28     44718
29     37350
...      ...
14820  52228
14821  70038
14822  25901
14823  21131
14824  26580
14825  66059
14826  32944
14827  13686
14828   8471
14829  19620
14830  74162
14831  37994
14832  71151
14833  45017
14834  12592
14835  58693
14836  57539
14837  71252
14838   7869
14839  57316
14840  59757
14841  64579
14842  57731
14843  65541
14844  68174
14845  39307
14846  18990
14847  28749
14848  33492
14849  68707

[14850 rows x 1 columns]

In [28]:
final=pd.concat([pred_id,predictions],axis=1)
final

          id                        0
0      50785               functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806               functional
7      28965           non functional
8      36301               functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017               functional
14     44607               functional
15     40228               functional
16     27714               functional
17     28785               functional
18     28330               functional
19     18532           non functional
20     69961               functional
21     55083               functional
22      8691           non functional
23     30331           non functional
24     70970               functional
25     61136               functional
26     28799           non functional
27     46825           non functional
28     44718  functional needs repair
29     37350               functional
...      ...                      ...
14820  52228               functional
14821  70038               functional
14822  25901               functional
14823  21131               functional
14824  26580               functional
14825  66059           non functional
14826  32944               functional
14827  13686               functional
14828   8471           non functional
14829  19620               functional
14830  74162           non functional
14831  37994               functional
14832  71151               functional
14833  45017               functional
14834  12592               functional
14835  58693               functional
14836  57539               functional
14837  71252               functional
14838   7869               functional
14839  57316               functional
14840  59757               functional
14841  64579               functional
14842  57731  functional needs repair
14843  65541           non functional
14844  68174               functional
14845  39307           non functional
14846  18990               functional
14847  28749               functional
14848  33492               functional
14849  68707           non functional

[14850 rows x 2 columns]

In [29]:
final.columns=['id','status_group']
final

          id             status_group
0      50785               functional
1      51630               functional
2      17168               functional
3      45559           non functional
4      49871               functional
5      52449               functional
6      24806               functional
7      28965           non functional
8      36301               functional
9      54122               functional
10       419               functional
11     45750           non functional
12       653           non functional
13     14017               functional
14     44607               functional
15     40228               functional
16     27714               functional
17     28785               functional
18     28330               functional
19     18532           non functional
20     69961               functional
21     55083               functional
22      8691           non functional
23     30331           non functional
24     70970               functional
25     61136               functional
26     28799           non functional
27     46825           non functional
28     44718  functional needs repair
29     37350               functional
...      ...                      ...
14820  52228               functional
14821  70038               functional
14822  25901               functional
14823  21131               functional
14824  26580               functional
14825  66059           non functional
14826  32944               functional
14827  13686               functional
14828   8471           non functional
14829  19620               functional
14830  74162           non functional
14831  37994               functional
14832  71151               functional
14833  45017               functional
14834  12592               functional
14835  58693               functional
14836  57539               functional
14837  71252               functional
14838   7869               functional
14839  57316               functional
14840  59757               functional
14841  64579               functional
14842  57731  functional needs repair
14843  65541           non functional
14844  68174               functional
14845  39307           non functional
14846  18990               functional
14847  28749               functional
14848  33492               functional
14849  68707           non functional

[14850 rows x 2 columns]

In [0]:
final.to_csv('predictions_XGB.csv', index=False)